.header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	background-color: var(--primary);
}
.header a {
	width: 5%;
}
.header a img {
	width: 100%;
	height: 100%;
}
.search {
	background-color: transparent;
	border: 2px solid var(--accent);
	border-radius: 50px;
	font-size: var(--font-size-s);
	padding: 0.5rem 1rem;
	color: var(--accent);
}
.search::placeholder {
	color: var(--accent);
}
.search:focus {
	outline: none;
	background-color: var(--accent-opaque);
}
/***** Media Queries for Responsiveness *****/
@media only screen and (max-width: 720px) {
	.header img {
		width: 25%;
	}
	.header {
		min-width: 100vw;
	}
}
